* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 25px;
    margin-top: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ol{
    list-style-position: inside;
}

#container {
    display: grid;
    width: 800px;
    height: 800px;
    gap: 0px;
    box-sizing: border-box;
    margin: 10px;
}
.grid-item {
    flex: 1 0 calc(100% / var(--grid-size));
    height: calc(100% / var(--grid-size));
    box-sizing: border-box;
    background-color: rgba(135, 206, 235, 0.1);
    border: 1px solid #ccc;
}
