* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    gap: 0px;
    box-sizing: border-box;
    margin: 10px;
}
.div-class {
    flex: 1 0 calc(100% / var(--grid-size));
    height: calc(100% / var(--grid-size));
    box-sizing: border-box;
    border: 1px solid #ccc;
}