* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    gap: 0px;
    box-sizing: border-box;
    margin: 10px;
}
.div-class {
    flex-basis: calc(100% / 10);
    height: calc(100% / 10);
    box-sizing: border-box;
}